{% extends "wrapper.html" %}
{% load static %}
{% block navbar %}
<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" type="text/css" href='{% static "/css/nav_fix.css" %}'>
<div class='main-container d-flex min-vh-100'>
    <div class='sidebar bg-altgray-dark' id='side_nav'>
        <div class='header-box px-2 pt-3 pb-4 d-flex justify-content-between'>
            <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-w me-2">EDC</span><span
                    class="text-white">EdControl</span></h1>
            <button class="btn d-block close-btn px-1 py-0 text-white "><i
                    class="fa-solid fa-bars-staggered"></i></button>
        </div>
        <ul class="list-unstyled px-2">
            <li class=""><a href="/" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-house-chimney px-2"></i>Старт</a>
            </li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-folder px-2"></i>Файлы</a></li>
            <li class=""><a href="/projects/"
                    class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
                    <span><i class="fa-solid fa-chart-pie px-2"></i>Отчеты</span>
                    <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
                </a></li>
        </ul>
        <hr class="h-color mx-2">

        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="text-decorated-none px-3 py-2 d-block"><i
                        class="fa-solid fa-sliders px-2"></i>Настройки</a>
            </li>
            <li class=""><a href="#" class="text-decorated-none px-3 py-2 d-block"><i
                        class="fa-solid fa-bell px-2"></i>Уведомления</a></li>
        </ul>
        <ul class="list-unstyled px-2 align-self-end">
            <li class=""><a href="/profile/" class="text-decorated-none px-3 py-2 d-block"><i
                        class="fa-solid fa-user px-2"></i>{{user.name }}</a>
        </ul>

    </div>





    <div class='content'>
        <nav class="navbar navbar-expand-md navbar-dark bg-altgray">
            <div class="container-fluid">
                {% if user.not_auth == "True" %}
                <div class="d-flex justify-content-between d-block">
                    <a class="navbar-brand fs-4" href="/"><span
                            class="bg-dark rounded px-2 py-0 text-white px-w me-2">EDC</span>EdControl</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"></div>
                <div class="nav-item">
                    <button type="button" class="btn btn-outline-altprimary position-relative" data-bs-toggle="modal"
                        data-bs-target="#signIn">Войти</button>
                    <a href="/sign_up" class="btn btn-outline-altprimary position-relative" role="button"
                        aria-disabled="true">Регистрация</a>
                </div>
                {% else %}
                <div class="d-flex justify-content-between d-block">
                    <button class="btn px-1 py-0 open-btn me-2"><i class="fa-solid fa-bars-staggered"></i></button>
                    <a class="navbar-brand fs-4" href="/"><span
                            class="bg-dark rounded px-2 py-0 text-white">EDC</span></a>
                </div>
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <!-- <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile/">{{user.name }}</a>
                        </li>
                    </ul> -->


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><strong>{{user.name}}</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="/profile/">Профиль</a></li>
                                <li><a class="dropdown-item" href="/projects?act=new_project">Отчет</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="" onclick="logOut();">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>




    <script>
        $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });
        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');
        });
        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');
        })
    </script>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-altgray">
            <div class="container">

                <a class="navbar-brand font-weight-bold " href="/">
                    <img src="{% static " img/logo.png" %}" alt="logo" class="d-inline-block align-top" width="40"
                        height="40">
                    WebCat
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.not_auth == "True" %}
                    <div class="nav-item">
                        <button type="button" class="btn btn-outline-primary position-relative" data-bs-toggle="modal"
                            data-bs-target="#signIn">Sign in</button>
                        <a href="/sign_up" class="btn btn-outline-primary position-relative" role="button"
                            aria-disabled="true">Sign up</a>
                    </div>
                    {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/projects/">Projects</a>
                        </li>
                    </ul>
                    <div class="nav-item dropdown">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.name }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/profile/">Profile</a>
                                <li>
                                <li><a class="dropdown-item" href="/projects?act=new_project">Create project</a>
                                <li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item btn btn-danger active" onclick="logOut();">Sign out</a>
                                <li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav> -->

    <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="Sign In" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-altgray">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLongTitle">Sign in</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                        {% comment %} </button> {% endcomment %}
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Login or email:</label>
                            <input type="text" class="form-control" id="authEmail">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="authPassword">
                        </div>
                    </form>
                    <small class="text-danger" id="authError" hidden>
                        Login, email or password are wrong.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="authorize();">Sing in</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/sign_up';">Sing
                        up</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}